/* Importing google font style */
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

body {
  background-color: rgb(132, 173, 132);
}

/* Google font class */
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container-main {
  width: 1000px;
  margin: 0 auto 50px auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 700px auto;
  grid-template-areas:
    "title title"
    "image image"
    "city city"
    "results results";
  gap: 10px;
}

.grid-item {
  border-radius: 20px;
}

.container-title {
  grid-area: title;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
}

.container-image {
  grid-area: image;
  color: rgb(254, 254, 254);
  text-align: center;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 4px;
  line-height: 40px;
  font-size: 23px;
  background-image: url("../public/images/pollen-pal-image-1.jpeg");
  background-size: cover;
  background-position-x: -100px;
  background-repeat: no-repeat;
}

.container-allergens {
  grid-area: city;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container-results {
  grid-area: results;
}
